@model Dominio.Classes.Item


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="container" id="Partial" name="Partial">
        <h4>Item: Model.idItem</h4>


    </div>
    <div id="divGridProdutos">
        @{Html.RenderPartial("GridProdutos");}
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>