@{
    ViewBag.Title = "Index";
}

<h4 class="center">Lista de Funcionários</h4>
<script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<script type="text/javascript">

    $(function () {
        $('#limpaCampo').click(
        function () {
            $('#search-field').val("");
        });
    });
    function enviaForm() {
        var postData = $('#formConsulta').serializeArray();
        $.ajax({
            type: 'POST',
            url: '/Funcionario/Consultar',
            dataType: 'html',
            cache: false,
            async: true,
            data: postData,
            success: function (result) {
                $('#divResultadoConsulta').html(result);
            }
        });
        return false;
    };
    function mudaMascara(obj) {
        var selecao = $('#paremetroPesquisa').val()

        if (selecao == 'cpf') {
            obj.maxLength = 14;
            mascara(obj, cpf_mask);
        }
        if (selecao == 'telefone') {
            obj.maxLength = 10;
            mascara(obj, telefone_mask);
        }

    }
</script>
<form id="formConsulta">
    <div class="row">
        <div class="input-field col s2">
            <select name="parametroPesquisa" id="paremetroPesquisa">
                <option value="nome">Nome</option>
                <option value="cpf">Cpf</option>
                <option value="telefone">Telefone</option>

            </select>
        </div>
        <div class="col s8 grid-example">
            <div class="input-field">
                <input type="search" name="pesquisa" id="search-field" class="field" onkeyup="enviaForm()" onkeypress="mudaMascara(this)" required>
                <label for=" search-field"><i class="mdi-action-search"></i></label>
                <i class="mdi-navigation-close" id="limpaCampo"></i>
            </div>
        </div>
        <div class="col s2 grid-example">
            <br>
            <input type="submit" value="Pesquisar" class="btn btn-default" />
        </div>
    </div>

    <div class="row">
        <div class="col s10 offset-s10 grid-example">
            <span class="btn-link">@Html.ActionLink("Cadastrar", "Cadastrar")</span>
        </div>
    </div>
</form>

<div id="divResultadoConsulta"> </div>



