<style type="text/css">
/*  conteudo para o conteiner*/
div.container {
   
    width: 100%;
    margin: 0px;
    border: 1px solid gray;
    line-height: 150%;
}
div.header {
    background-color: white;
    color:gray;
    text-align:center;
    padding:1px;	 
}
div.nav {
    line-height:30px;
    
    height:500px;
    width:100px;
    float:left;
    padding:5px;
	
}
div.section {
    width:75%;
    float:left;
    padding:10px;	 	 
	
}
div.footer {
    background-color:white;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}


#tabela {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
   
}


#tabela td{
   
   /*border: 2px solid #FFFFFF;*/
   color: #000000;
   padding: 3px 7px 2px 7px;
}

#tabela tr.alt td{
    color: #EAF2D3;
}
hr{
   
   border: 0px solid #ffffff;
   
}
body {
   background-image:url('branco.jpg');
}
h5{
 color: #000000;
    text-align: center;
    
}
h2{
 color: #000000;
}

</style>
