<style type="text/css">
div.container {
   
    width: 100%;
    margin: 0px;
    border: 1px solid gray;
    line-height: 150%;
}
div.header {
    background-color: white;
    color:gray;
    text-align:center;
    padding:1px;	 
}
div.nav {
    line-height:30px;
    
    height:500px;
    width:100px;
    float:left;
    padding:5px;
	
}
div.section {
    width:350px;
    float:left;
    padding:10px;	 	 
	text-align: center;
}
div.footer {
    background-color:white;
    color:gray;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}


#tabela {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
	text-align: center;
   
}


#tabela td{
   text-align: center;
   border: 0px solid #FFFFFF;
   color: black;
   padding: 2px 7px 2px 7px;
}

#tabela tr.alt td{
    /*color: #EAF2D3;*/
	 
}
/* Linha a qual se encontra em todas as separações entre as tabelas*/
hr{
   border: 0px solid #ffffff;
}

body {
  background-image:url('branco.jpg');
	
}

h5{
 color: gray;
    text-align: center;
    
}
</style>
